@model MvcOnlineTicariOtomasyon.Models.Siniflar.Departman
@{
    ViewBag.Title = "DepartmanEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Yeni Kategori Ekle</h2>

<div class="card-body">
    <div class="form-responsive">
        <form class="form-group" method="post">
            @Html.LabelFor(x => x.DepartmanID)
            @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control", placeholder = "Kategori Adını Girin" })
            <br />
            <button class="btn btn-info">Kaydet</button>
        </form>
    </div>
</div>

