<div class="pop-up">
    <div id="small-dialog1" class="mfp-hide book-form">

        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Personel Giriş Formu</h3>
                <div class="clear"></div>
                <div class="login-agileits-top">
                    @using (Html.BeginForm("AdminLogin", "Login", FormMethod.Post))
                    {
                        <input type="text" class="name" name="KullaniciAd" Placeholder="Kullanıcı Adınız" required="" />
                        <input type="password" class="password" name="Sifre" Placeholder="Sifre" required="" />
                        <input type="submit" value="Giriş Yap">
                    }
                </div>
            </div>
        </div>

    </div>
</div>
